AxonIvyPortal/PortalKit/lib_ws/client/wsClient_15C7646A4BDA62E7.wsdl

<?xml version="1.0" ?><wsdl:definitions name="SideStepProcessServiceService" targetNamespace="http://addon.ws.ivy.ch/" xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://addon.ws.ivy.ch/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://addon.ws.ivy.ch/" version="1.0" xmlns:tns="http://addon.ws.ivy.ch/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="findSideStepsByCriteria" type="tns:findSideStepsByCriteria"></xs:element>
<xs:element name="findSideStepsByCriteriaResponse" type="tns:findSideStepsByCriteriaResponse"></xs:element>
<xs:complexType name="findSideStepsByCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="isUrlBuiltFromSystemProperties" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="sideStepSearchCriteria" type="tns:sideStepSearchCriteria"></xs:element>
      <xs:element minOccurs="0" name="language" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sideStepSearchCriteria">
    <xs:sequence>
      <xs:element name="adhocExcluded" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="caseId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="involvedUsername" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findSideStepsByCriteriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:findSideStepsByCriteriaResult"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findSideStepsByCriteriaResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="tns:wsException"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sideSteps" nillable="true" type="tns:ivySideStep"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="wsException">
    <xs:complexContent>
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:int"></xs:element>
          <xs:element minOccurs="0" name="errorDateTime" type="xs:dateTime"></xs:element>
          <xs:element minOccurs="0" name="errorType" type="tns:wsErrorType"></xs:element>
          <xs:element minOccurs="0" name="exception" type="tns:exception"></xs:element>
          <xs:element minOccurs="0" name="helpText" type="xs:string"></xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="helpTextData" nillable="true" type="xs:anyType"></xs:element>
          <xs:element minOccurs="0" name="server" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="userText" type="xs:string"></xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="userTextData" nillable="true" type="xs:anyType"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="exception">
    <xs:complexContent>
      <xs:extension base="tns:throwable">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="throwable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="stackTraceElement">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:complexType name="ivySideStep">
    <xs:complexContent>
      <xs:extension base="tns:compositeObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="isAdhoc" type="xs:boolean"></xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="startRequestUri" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="compositeObject">
    <xs:complexContent>
      <xs:extension base="tns:nestedObject">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="nestedObject">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="dateTime">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:simpleType name="wsErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INFO"></xs:enumeration>
      <xs:enumeration value="WARNING"></xs:enumeration>
      <xs:enumeration value="ERROR"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="ch.ivyteam.ivy.webservice.process" xmlns:tns="ch.ivyteam.ivy.webservice.process" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TechnicalException" nillable="true" type="xsd:string"></xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="WebServiceProcessTechnicalException">
    <wsdl:part element="ns1:TechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSideStepsByCriteria">
    <wsdl:part element="tns:findSideStepsByCriteria" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSideStepsByCriteriaResponse">
    <wsdl:part element="tns:findSideStepsByCriteriaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SideStepProcessService">
    <wsdl:operation name="findSideStepsByCriteria">
      <wsdl:input message="tns:findSideStepsByCriteria" name="findSideStepsByCriteria">
    </wsdl:input>
      <wsdl:output message="tns:findSideStepsByCriteriaResponse" name="findSideStepsByCriteriaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServiceProcessTechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SideStepProcessServiceServiceSoapBinding" type="tns:SideStepProcessService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="findSideStepsByCriteria">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="findSideStepsByCriteria">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="findSideStepsByCriteriaResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WebServiceProcessTechnicalException">
        <soap:fault name="WebServiceProcessTechnicalException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SideStepProcessServiceService">
    <wsdl:port binding="tns:SideStepProcessServiceServiceSoapBinding" name="SideStepProcessServicePort">
      <soap:address location="http://localhost:8081/ivy/ws/designer/PortalConnector/15C62875FD98F850"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
