AxonIvyPortal/PortalKit/lib_ws/client/wsClient_1473A1D4EEBABA93.wsdl

<?xml version="1.0" ?><wsdl:definitions name="ProcessStartServiceService" targetNamespace="http://addon.ws.ivy.ch/" xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://addon.ws.ivy.ch/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://addon.ws.ivy.ch/" version="1.0" xmlns:tns="http://addon.ws.ivy.ch/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="findProcessesStartsByCriteria" type="tns:findProcessesStartsByCriteria"></xs:element>
<xs:element name="findProcessesStartsByCriteriaResponse" type="tns:findProcessesStartsByCriteriaResponse"></xs:element>
<xs:complexType name="findProcessesStartsByCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="isUrlBuiltFromSystemProperties" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="language" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="processSearchCriteria" type="tns:processSearchCriteria"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="processSearchCriteria">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="involvedApplications" nillable="true" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="involvedUsername" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="keyword" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="serverId" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findProcessesStartsByCriteriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="tns:findProcessesStartsByCriteriaResult"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findProcessesStartsByCriteriaResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="tns:wsException"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="processStarts" nillable="true" type="tns:ivyProcessStart"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="wsException">
    <xs:complexContent>
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:int"></xs:element>
          <xs:element minOccurs="0" name="errorDateTime" type="xs:dateTime"></xs:element>
          <xs:element minOccurs="0" name="errorType" type="tns:wsErrorType"></xs:element>
          <xs:element minOccurs="0" name="exception" type="tns:exception"></xs:element>
          <xs:element minOccurs="0" name="helpText" type="xs:string"></xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="helpTextData" nillable="true" type="xs:anyType"></xs:element>
          <xs:element minOccurs="0" name="server" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="userText" type="xs:string"></xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="userTextData" nillable="true" type="xs:anyType"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="exception">
    <xs:complexContent>
      <xs:extension base="tns:throwable">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="throwable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="stackTraceElement">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:complexType name="ivyProcessStart">
    <xs:complexContent>
      <xs:extension base="tns:compositeObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationName" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="fullRequestPath" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="fullUserFriendlyRequestPath" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="processElementId" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="startLink" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="compositeObject">
    <xs:complexContent>
      <xs:extension base="tns:nestedObject">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="nestedObject">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="dateTime">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:simpleType name="wsErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INFO"></xs:enumeration>
      <xs:enumeration value="WARNING"></xs:enumeration>
      <xs:enumeration value="ERROR"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="ch.ivyteam.ivy.webservice.process" xmlns:tns="ch.ivyteam.ivy.webservice.process" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TechnicalException" nillable="true" type="xsd:string"></xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="findProcessesStartsByCriteria">
    <wsdl:part element="tns:findProcessesStartsByCriteria" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WebServiceProcessTechnicalException">
    <wsdl:part element="ns1:TechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findProcessesStartsByCriteriaResponse">
    <wsdl:part element="tns:findProcessesStartsByCriteriaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessStartService">
    <wsdl:operation name="findProcessesStartsByCriteria">
      <wsdl:input message="tns:findProcessesStartsByCriteria" name="findProcessesStartsByCriteria">
    </wsdl:input>
      <wsdl:output message="tns:findProcessesStartsByCriteriaResponse" name="findProcessesStartsByCriteriaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServiceProcessTechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessStartServiceServiceSoapBinding" type="tns:ProcessStartService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="findProcessesStartsByCriteria">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="findProcessesStartsByCriteria">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="findProcessesStartsByCriteriaResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="WebServiceProcessTechnicalException">
        <soap:fault name="WebServiceProcessTechnicalException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessStartServiceService">
    <wsdl:port binding="tns:ProcessStartServiceServiceSoapBinding" name="ProcessStartServicePort">
      <soap:address location="http://localhost:8081/ivy/ws/designer/PortalConnector/137A1AD0988B83E7"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
